{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current",
        "cheome": "45"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "fragment",
      "throwIfNamespace": false
    }]
  ]
}
