{
  "presets": [
    ["@babel/env", {
      "targets": { "node": "current" }
    }]
  ],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "alias": {
        "BIRD3": "./src"
      }
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
  ]
}
