[submodule "protected/extensions/YiiRedis"]
	path = protected/extensions/YiiRedis
	url = https://github.com/phpnode/YiiRedis.git
[submodule "protected/extensions/easyimage"]
	path = protected/extensions/easyimage
	url = https://github.com/zhdanovartur/yii-easyimage.git
[submodule "php_modules_ext/WingStyle"]
	path = php_modules_ext/WingStyle
	url = https://github.com/IngwiePhoenix/WingStyle.git
[submodule "protected/extensions/redis"]
	path = protected/extensions/redis
	url = https://github.com/phpnode/YiiRedis.git
[submodule "php_modules_ext/hprose-workerman"]
        path = php_modules_ext/hprose-workerman
        url = https://github.com/hprose/hprose-workerman.git

