[submodule "app/extensions/YiiRedis"]
	path = app/extensions/YiiRedis
	url = https://github.com/phpnode/YiiRedis.git
[submodule "app/extensions/easyimage"]
	path = app/extensions/easyimage
	url = https://github.com/zhdanovartur/yii-easyimage.git
[submodule "php_modules_ext/WingStyle"]
	path = php_modules_ext/WingStyle
	url = https://github.com/IngwiePhoenix/WingStyle.git
[submodule "app/extensions/redis"]
	path = app/extensions/redis
	url = https://github.com/phpnode/YiiRedis.git
[submodule "php_modules_ext/hprose-workerman"]
        path = php_modules_ext/hprose-workerman
        url = https://github.com/hprose/hprose-workerman.git

[submodule "web_modules/LDT"]
	path = web_modules/LDT
	url = https://github.com/kueblc/LDT.git
[submodule "web_modules/behave.js"]
	path = web_modules/behave.js
	url = https://github.com/jakiestfu/Behave.js.git
[submodule "web_modules/jsCaret"]
	path = web_modules/jsCaret
	url = https://github.com/schovi/jsCaret.git
