<label for="name_txt">Display name</label>
<input type="text" name="name_val" class="form-control" id="name_txt" placeholder="My cool link">

<label for="url_txt">URL</label>
<input type="text" name="url_val" class="form-control" id="url_txt" placeholder="http(s)://...">
