<div id="<?=wid?>_toolbar" class="btn-toolbar" role="toolbar" aria-label="Formatting options">
    <div class="btn-group btn-group-<?=groupSize?>" role="group" aria-label="Font settings">
        <button class="btn btn-default" data-func="bold" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Bold">
            <b>B</b>
        </button>
        <button class="btn btn-default" data-func="italic" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Italic">
            <i>I</i>
        </button>
        <button class="btn btn-default" data-func="font_color" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Font color">
            <i class="glyphicon glyphicon-text-color" aria-hidden="true"></i>
            <span class="sr-only">Font color</span>
        </button>
        <button class="btn btn-default" data-func="bg_color" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Background color">
            <i class="glyphicon glyphicon-text-background" aria-hidden="true"></i>
            <span class="sr-only">Background color</span>
        </button>
    </div>

    <? if(textDisplay) { ?>
    <div class="btn-group btn-group-<?=groupSize?>" role="group" aria-label="Text display">
        <button class="btn btn-default" data-func="code" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Code">
            <i class="fa fa-code" aria-hidden="true"></i>
            <span class="sr-only">Code</span>
        </button>
        <button class="btn btn-default" data-func="code_block" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Code block">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            <span class="sr-only">Code block</span>
        </button>
        <button class="btn btn-default" data-func="quote" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <span class="sr-only">Quote</span>
        </button>
        <button class="btn btn-default" data-func="ol" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Ordered list">
            <i class="fa fa-list-ol" aria-hidden="true"></i>
            <span class="sr-only">Ordered List</span>
        </button>
        <button class="btn btn-default" data-func="ul" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Unordered list">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span class="sr-only">Unordered List</span>
        </button>
    </div>
    <? } ?>

    <div class="btn-group btn-group-<?=groupSize?>" role="group" aria-label="Links">
        <button class="btn btn-default" data-func="link" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Link">
            <i class="glyphicon glyphicon-link" aria-hidden="true"></i>
            <span class="sr-only">Link</span>
        </button>
        <button class="btn btn-default" data-func="image" data-toggle="tooltip"
                data-placement="<?=placement?>" data-container="body" title="Image">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <span class="sr-only">Image</span>
        </button>
    </div>
    <div class="btn-group btn-group-<?=groupSize?>" role="group" aria-label="Options">
        <button class="btn btn-primary" id="<?=wid?>_preview" data-toggle="tooltip"
                    data-placement="<?=placement?>" data-container="body" title="Preview">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="sr-only">Preview</span>
        </button>
        <a class="btn btn-info" data-toggle="tooltip" data-placement="<?=placement?>"
                data-container="body" title="Help and Info" href="#">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <span class="sr-only">Help and info</span>
        </a>
    </div>
</div>
