.ldt {
    /* highlight styles */
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
    .italic {
        font-style: italic
    }
    .strike {
        text-decoration: line-through;
    }
    .mention {
        color: lime;
    }
    .url, .ip, .anchor {
        color: aqua;
    }
    .code, .quote, .list {
        color: gray;
    }
    .hashtag {
        color: purple;
    }
    .email {
        color: orange;
    }
    .header {
        color: silver;
    }

    /* fix for bold/italic/non regular fonts on windows */
    .fix {
        display: inline-block;
        margin-bottom: -1px;
    }

    pre, textarea {
        margin: 0;
        padding: 0;
        word-wrap: break-word;
    }

    textarea {
        color: rgba(255,255,255,.4) !important;
    }

    pre {
        background: black;
        color: white;
    }

    pre, textarea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Sizing... */
    $size: 100px;
    height: $size;
    /*
    .form-control, textarea {
        height: $size;
    }
    */
}
