<p>Choose a background color.</p>

<p>You can chose to either use an image as an URL, or a color. Example:</p>
<pre><code>url(<?=exurl?>)</code></pre>

<p>
    You can also just use a color. Examples include using names like
    <code>red</code> or <code>lime</code>. But also values such as
    <code>rgb(255,255,255)</code> are possible.
    You can read more in the help section about editing. Click the
    <i class="fa fa-question-circle" aria-hidden="true"></i> Help button
    for more information.
</p>

<input type="text" class="form-control" name="color_val"/>
