<p>
    Please type in the name of the programming language that you would like to format this code in.
</p>

<p>
    You can also leave it empty and just click the 'Use this!' button.
</p>

<p>
    The language name should be entered all in lowercase and
    without spaces.
    Example: <code>php</code>, <code>javascript</code> or <code>c++</code>.
</p>

<input type="text" class="form-control" name="cl_val"/>
