<label for="name_txt">Image description</label>
<input type="text" name="name_val" class="form-control" id="name_txt" placeholder="A very nice image">

<label for="url_txt">URL</label>
<input type="text" name="url_val" class="form-control" id="url_txt" placeholder="http(s)://...">
