.ldt {
    // Sizing..
    $size: 100px;
    height: $size;

    &, &.form-control, label {
        margin-bottom: 0;
    }

    // highlight styles
    .bold {
        font-weight: bold;
        letter-spacing: -0.6px;
    }
    .underline {
        text-decoration: underline;
    }
    .italic {
        font-style: italic
    }
    .strike {
        text-decoration: line-through;
    }
    .mention {
        color: lime;
    }
    .uri {
        color: aqua;
    }
    .quote, .list {
        color: gray;
    }
    .code, .pre {
        color: maroon;
    }
    .hashtag {
        color: purple;
    }
    .email {
        color: orange;
    }
    .heading {
        color: silver;
    }

    /* fix for bold/italic/non regular fonts on windows */
    .word {
        //display: inline-block; // This breaks .code and .pre ...
        margin-bottom: -1px;
    }

    label {
        padding: 0;
    }

    textarea, pre {
        margin: 0;
        padding: 0;
        word-wrap: break-word;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: normal !important;
        font-family: "Arial", sans-serif !important;
    }

    textarea {
        color: rgba(255,255,255,.4) !important;
    }

    pre {
        background: black;
        color: white;
    }
}

// Color picker
.color-picker {
    background: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}

.color-picker > div {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    opacity: 0.7;
}

.color-picker > div:hover {
    opacity: 1;
}
