// Color picker
.color-picker {
    background: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
}

.color-picker > div {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    opacity: 0.7;
}

.color-picker > div:hover {
    opacity: 1;
}

.bird3-editor {
    /* default fallback */
    background: rgb(0,0,0) transparent;
    /* nice browsers */
    background: rgba(0,0,0, 0.5);
    white-space: pre;
    min-height: 100px;
    height: auto;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  opacity: 0.5;
}
.hljs {
    padding: 0 !important;
}
.hljs-fix {
    display: inline-block !important;
    width: 100%;
}

.YouDontSeeMeArea {
    display: none;
}
