/*
    This is the BIRD3 stylesheet, extending upon the base
    Bootswatch Cyborg theme.

    Originally, this was written in WingStyle.
    Now, this is a re-implementation in SCSS.
*/

// BOOTSTRAP
// Variables...
@import "bootstrap/variables";
@import "bootstrapaccessibilityplugin/src/sass/partials/variables";
@import "bootswatch/cyborg/variables";
//@import "bootswatch/cyborg/bootswatch";

// Bootstrap's mixins
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/dropdowns";
@import "bootstrap/component-animations";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
//@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Accessibility
@import "bootstrapaccessibilityplugin/src/sass/partials/mixins";
@import "bootstrapaccessibilityplugin/src/sass/partials/alerts";
@import "bootstrapaccessibilityplugin/src/sass/partials/buttons";
@import "bootstrapaccessibilityplugin/src/sass/partials/close";
@import "bootstrapaccessibilityplugin/src/sass/partials/divs";
@import "bootstrapaccessibilityplugin/src/sass/partials/navigation";

// Excluded
//@import "bootstrap/print";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/carousel";
//@import "bootstrap/progress-bars";
//@import "bootstrap/jumbotron";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";

// BIRD3: Side'n'Slide panels
@import "./panels";

// Mixins
@mixin reactToAll() {
    $selectors: "", ":hover", ":active", ":focus";
    @each $sel in $selectors {
        &#{$sel} {
            @content;
        }
    }
}

// Variables
$menu_height: 40px;

body {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: reltive;
}

#blurr-bg, #bg {
    background-image: url(~BIRD3/Frontend/Design/Images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bg { z-index: -2; }
#blurr-bg {
    z-index: -1;
    filter: blur(5px); // Need a mixin.
    -webkit-filter: blur(5px);

    &.onIndex  { opacity: 0; }
    &.onAll    { opacity: 1; }
    &.fallback { opacity: 0; }
}

#banner {
    height: 100px;
    width: 100%;
    background-image: url(~BIRD3/Frontend/Design/Images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

#browser_error {
    background: rgba(204,0,0, 0.6);
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

#menu {
    height: $menu_height;
    width: 100%;
    background: rgba(0,0,0, 0.4);
}

$in_marg: 80px;
#intro {
    padding-top: $in_marg;
    padding-bottom: $in_marg;
    background: rgba(0,0,0, 0.25);
    width: 100%;
}

#outerContent {
    z-index: 3;

    &.AllYourPageAreBelongToUs {
        background: none !important;
    }
    &.normalPage {
        margin-top: 4%;
        &.tabbed {
            margin-top: 2%;
        }
    }

    #tabbar {
        // FIXME: This needs a re-implementation!
    }

    #content {
        // Responsible design implementation: http://stackoverflow.com/a/25634192/2423150
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 5px;
        padding-bottom: 5px;
        float: left;
        position: relative;
        background: rgba(0,0,0, 0.6);
        width: 100%;
    }

    #leftSide, #rightSide {
        // FIXME: Re-implementation
        background: rgba(0,0,0, 0.8);
        width: 19%;
        margin-top: 20px;
        float: left;
        border: 1px solid white;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 10px; // Autoprefixer
    }
    #leftSide  { margin-right: 1%; }
    #rightSide { margin-left: 1%;  }
    #leftSide, #rightSide, & {
        white-space: normal;
        word-wrap: break-word;
    }

    #Pleft, #Pright, #Pbottom {
        padding: 5px 5px 5px 5px;
    }

    #allSearch {
        padding-left: 5px;
        padding-right: 5px;
        border: 1px;
        background: black;
    }
}

#footer {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding-top: 7px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    width: 100%;
}

// Customs
.iconblock {
    display: inline-block;
    background-size: auto 15px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15px;
    width: 21px;

    &.psn     { background-image: url(~BIRD3/Frontend/Design/Images/brands/playstation.png); }
    &.xbl     { background-image: url(~BIRD3/Frontend/Design/Images/brands/xbox_360.png); }
    &.sofurry { background-image: url(~BIRD3/Frontend/Design/Images/brands/sofurry.png); }
}

code, pre {
    color: white;
    border: none;
    &.hljs {
        background: rgba(31, 31, 31, 0.7);
    }
}
pre {
    padding: 0.5em;

    // HighlightJS
    &.hascode {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    &.nocode {
        border: 1px solid white;
    }
}
blockquote {
    background: rgba(0,0,0,0.7);
}
.well, .panel, .list-group-item-soft {
    background: rgba(21,21,21, 0.6);
}
.well {
    padding: #{19/2}px;
}
.panel-primary > .panel-heading {
    background: rgba(42,159,214, 0.6);
}

// Lots and lots of Dialog stuff
.bootstrap-dialog {
    &.modal-dialog {
        margin-top: 7%;
    }

    // Fix font color
    &.type-default .bootstrap-dialog-title {
        color: white;
    }

    $dialogs: (
        "info":     $alert-info-bg,
        "success":  $alert-success-bg,
        "warning":  $alert-warning-bg,
        "danger":   $alert-danger-bg
    );

    @each $type, $color in $dialogs {
        &.type-#{$type} .modal-header {
            background: $color;
        }
    }
}

.thumbnail.avatar {
    height: 100px;
}

// Private Message badges
.pm {
    &.new {
        background: rgba(0,100,0, 0.5);
        &:hover {
            background: rgba(0,100,0, 0.8);
        }
    }
    &.read {
        background: rgba(40,40,40, 0.5);
        &:hover {
            background: rgba(40,40,40, 0.8);
        }
    }
    &.icon {
        vertical-align: middle;
        text-align: center;
    }
    &.status {
        width: 20px;
        font-size: 20px;
    }
}

.hint {
    text-align: center;
    font-style: italic;
    color: #404040;
}

.vertical-divider {
    display: inline-block;
    width: 10px;
}

// The background needs some better fixes...
@media only screen and (min-width:1920px) {
    body {
        background-size: 100% 100%;
    }
}
