module.exports = {
    twitter: {
        api: "key"
    },

    // This host must be the one that all BIRD3 and dependent services run on!
    host: "127.0.0.1",

    // Changing to 80 requires root.
    http_port: 8080,
    app_port: 8200,

    // Settings for creating internal URLs...
    yii_fix_routes: true,

    // Security. CHANGE THIS TO SOMETHING SECURE.
    userName: "www-data",
    groupName: "www-data",

    version: "BIRD 3.0-dev.0"
};
