<?php

// Some short-hands:
$CDN = "http://cdn.".$_SERVER["SERVER_NAME"];
$base = dirname(__FILE__).DIRECTORY_SEPARATOR.'..';

Yii::setPathOfAlias('cdn',$base.'/cdn');

# Version determination
include_once $base."/php_modules/getallheaders.php";
$hdrs = getallheaders();
if(isset($hdrs["BIRD3_VERSION"])) {
	$bVersion = $hdrs["BIRD3_VERSION"];
} else {
	$bVersion = "";
}

return array(
	'basePath'=>$base."/protected",
	'runtimePath'=>$base."/cache",
	'name'=>'BIRD3',
	'theme'=>'dragonsinn',

	// preloading 'log' component
	'preload'=>array('log'),

	// autoloading model and component classes
	'import'=>array(
		'application.models.*',
		'application.components.*',
		'application.modules.user.models.*',
		'application.modules.user.components.*'
	),

	'modules'=>array(
		'user'
	),

	// application components
	'components'=>array(
		'user'=>array(
			'class'=>'BIRD3User',
			// enable cookie-based authentication
			'allowAutoLogin'=>true,
		),
		'themeManager'=>array(
			'basePath'=>$base."/cdn/themes",
			'baseUrl'=>"/cdn/themes"
		),
		'assetManager'=>array(
			'basePath'=>$base."/cdn/assets",
			'baseUrl'=>"/cdn/assets"
		),
		'cdn'=>array(
			'class'=>'CDNHelper',
			'basePath'=>$base.'/cdn',
			'baseUrl'=>'/cdn'
		),
		// uncomment the following to enable URLs in path-format
		/*'urlManager'=>array(
			'urlFormat'=>'path',
			'rules'=>array(
				'<controller:\w+>/<id:\d+>'=>'<controller>/view',
				'<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
				'<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
			),
		),*/
		'db'=>array(
			'connectionString' => 'mysql:host=localhost;dbname=dragonsinn_tk',
			'emulatePrepare' => true,
			'username' => 'root',
			'password' => 'Your Password Here',
			'charset' => 'utf8',
			'tablePrefix' => 'tbl_'
		),
		'errorHandler'=>array(
			// use 'site/error' action to display errors
			'errorAction'=>'site/error',
		),
		'log'=>array(
			'class'=>'CLogRouter',
			'routes'=>array(
				array(
					'class'=>'CFileLogRoute',
					'levels'=>'error, warning',
				),
				// uncomment the following to show log messages on web pages
				/*
				array(
					'class'=>'CWebLogRoute',
				),
				*/
			),
		),
	),

	// application-level parameters that can be accessed
	// using Yii::app()->params['paramName']
	'params'=>array(
		// this is used in contact page
		'adminEmail'=>'webmaster@example.com',
		'version'=>$bVersion
	),
);
